<div class="container">
	<table class="text-center">
		<tr>
			<th>
				ID
			</th>
			<th>
				NAME
			</th>
			<th>
				PERSON
			</th>
			<th>
				TELEPHONE
			</th>
			<th>
				LOCATION
			</th>
			<th>
				EMPLOYEES
			</th>
		</tr>
		<tr *ngFor="let company of customers">
			<td>
				{{company.id}}
			</td>
			<td>
				{{company.name}}
			</td>
			<td>
				{{company.person}}
			</td>
			<td>
				{{company.telephone}}
			</td>
			<td>
				{{company.location}}
			</td>
			<td>
				{{company.employees}}
			</td>
			<td>
				<button class="btn btn-primary" (click)="Edit(company)">
					Edit
				</button>
			</td>
		</tr>
	</table>	
</div>
