<div style="text-align:center" *ngIf="popUp">
  <h1>
    {{popUpMessage}}
  </h1>
</div>

<div class="container">
	<table class="text-center">
		<tr>
			<th>
				ID
			</th>
			<th>
				NAME
			</th>
			<th>
				PERSON
			</th>
			<th>
				TELEPHONE
			</th>
			<th>
				LOCATION
			</th>
			<th>
				EMPLOYEE
			</th>
		</tr>
		<tr *ngFor="let company of customers">
			<td>
				{{company.id}}
			</td>
			<td>
				{{company.name}}
			</td>
			<td>
				{{company.person}}
			</td>
			<td>
				{{company.telephone}}
			</td>
			<td>
				{{company.location}}
			</td>
			<td>
				{{company.employee}}
			</td>
			<td>
				<button class="btn btn-primary" (click)="Edit(company)">
					Edit
				</button>
			</td>
			<td>
				<button class="btn btn-danger" (click)="Delete(company)">
					Delete
				</button>
			</td>
		</tr>
	</table>	
</div>
